@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-color: white;
    --text-color: #323238;
    --card-color: #E1E1E6;
    --card-select: #02799D;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: auto;
}

.darkMode {
    background-color: #121214;
}

header {
   padding: 1rem 4rem 3.2rem 1rem;
}

button {
    color: var(--card-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#time {
    display: flex;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem; 
    justify-content: center;
    margin-bottom: 4.8rem;
}

#settings {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

#settings button {
    border: none;
    cursor: pointer;
}

#sounds {
    display: grid;
    grid-template-columns: 138px 138px;
    grid-template-rows: 152px 152px;
    gap: 32px 32px;
    grid-template-areas:
      '1 2'
      '3 4';
    justify-content: center;
}

#sounds button {
    border: none;
    background-color: var(--bg-color);
    cursor: pointer;
    width: 11.8rem;
    height: 13.2rem;
}

.pause svg path {
    fill: var(--text-color);
}

.pause svg {
    width: 4.8rem;
    height: 4.8rem;
}

.hide {
    display: none;
}

.outside {
    fill: var(--card-select);
}

.inside {
    fill: white;
}

.darkbutton svg path{
    fill: #C4C4CC;
    background-color: #121214;
}

.darktime {
    color: #C4C4CC
}

@media (min-width: 1024px) {

    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 16rem auto;
        width: 82.1rem;
        height: 33.6rem;;
    }

    #time {
        display: flex;
        margin-right: 19.2rem;
        margin-bottom: 4.8rem;
    }

    #settings {
        display: flex;
        margin-right: 19.2rem;
        gap: 4rem;
    }

    #sounds {
        display: grid;
        grid-template-columns: 138px 138px;
        grid-template-rows: 152px 152px;
        gap: 32px 32px;
        grid-template-areas:
          '1 2'
          '3 4';
        justify-content: center;
      }
}